/* Share Styles */

img,
video {
  width: 100%;
  height: auto;
}
.flex {
  display: flex;
  gap: 1rem;
}
.card {
  box-shadow: 0 0 0.25rem 0 rgba(0, 0, 0, 0.16);
  padding: 2rem;
  border-radius: 0.5rem;
}
.container {
  max-width: 70rem;
  margin: 0 auto;
  padding: 1rem;
}

/* Mobile Only Styles */
@media (max-width: 47.9375em) {
  .flex {
    flex-direction: column;
  }
}

/* Desktop Only Styles */
@media (min-width: 48em) {
  .flex > * {
    width: 100%;
  }
}
